.about-header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

body html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.main {
    padding: 20px;
    text-align: justify;
}

header h3 {
    text-align: center;
}

#introduction {
    text-align: justify;
    margin: 40px;
}

#background {
    text-align: justify;
    margin: 40px;
}

#experience {
    text-align: justify;
    margin: 40px;
}

#goals {
    text-align: justify;
    margin: 40px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 5px 5px;
}

.justify-content-center {
    justify-content: center !important;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}