* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    text-align: center;
    padding: 1rem 0;
    background: #222;
}

header h1 {
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#welcome-section {
    padding: 2rem;
    background: #333;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: 10px;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
}

.image-container img {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Adjustments for tablet displays */
    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 0.5rem;
    }
}

/* For mobile phones */
@media (max-width: 767px) {

    /* Adjustments for mobile displays */
    header {
        padding: 0.5rem;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 0.5rem;
    }

    #welcome-section {
        padding: 1rem;
    }

    footer {
        position: relative;
    }
}

/* High resolution and large desktop adjustments */
@media (min-width: 1200px) {

    /* Adjustments for large or high-resolution displays */
    header {
        padding: 2rem 0;
    }

    #welcome-section {
        padding: 4rem;
    }
}

#hero-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    /* Ensures the image covers the area without being stretched */
    opacity: 0.8;
    /* Slightly see-through for a mysterious effect */
    display: block;
    /* To remove any default spacing/alignment */
    margin-bottom: 2rem;
    /* Add some space between the image and the next content */
}